@font-face
  font-family: 'NotoSansCJKjp'
  src: url('../fonts/NotoSansCJKjp/NotoSansCJKjp-Light.eot')
  src: url('../fonts/NotoSansCJKjp/NotoSansCJKjp-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSansCJKjp/NotoSansCJKjp-Light.woff') format('woff'),
    url('../fonts/NotoSansCJKjp/NotoSansCJKjp-Light.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'NotoSansCJKjp'
  src: url('../fonts/NotoSansCJKjp/NotoSansCJKjp-Bold.eot')
  src: url('../fonts/NotoSansCJKjp/NotoSansCJKjp-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSansCJKjp/NotoSansCJKjp-Bold.woff') format('woff'),
    url('../fonts/NotoSansCJKjp/NotoSansCJKjp-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'YuuriFont'
  src: url('../fonts/Yuuri_web-R/Yuuri_web-R.eot')
  src: url('../fonts/Yuuri_web-R/Yuuri_web-R.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Yuuri_web-R/Yuuri_web-R.woff') format('woff'),
    url('../fonts/Yuuri_web-R/Yuuri_web-R.ttf') format('truetype')
  font-weight: normal
  font-style: normal
